

// import bootstrap 
@use '../node_modules/bootstrap/scss/bootstrap' with (
    $primary:  #59b6f0 ,
    $secondary: #f4f4ef,
 $success: #fefcf7,
 $warning: #ececec, 
 $danger: #BBCCCC,
  $light: #f9f8f6,
   $dark: #453839,
);