

// import bootstrap 
@use '../node_modules/bootstrap/scss/bootstrap' with (
    $primary: #79ABEC,
    $secondary: #fccc96,
 $success: #FF8243,
 $warning: #DDEEF7, 
 $danger: #CFE3D9,
  $light: #f9f8f6,
   $dark: #453839,
);