/* task 1 */

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Neucha, sans-serif ;
    line-height: 1.6;
    color: #131313;
    background-color: aliceblue;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* task 2 */
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom:10px ;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}


header {
    display: flex;
    padding: 20px 40px;
    margin: 0 auto;
    background-color:rgb(208, 208, 255)
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: #f1f2ff;
    gap: 30px;
    margin: 15px;
    padding-bottom: 30px ;
    box-shadow: 0 6px 5px rgba(0,0,0,0.15);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* LESSON 7: HOVERING FOR LOGO */
#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}