/* task 1 */

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Varela Round, sans-serif ;
    line-height: 1.6;
    color: #131313;
    background-color: rgb(249, 248, 209);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* task 2 */
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom:10px ;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}

section {
    align-items: center;
}

header {
    display: flex;
    padding: 20px 40px;
    margin: 0 auto;
    background-color:rgb(69, 69, 154)
}
.title {
    font-size: 45px;
    font-weight: bold;
    gap: 20px;
}
.hero-section {
    display: flex; 
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #e4ebf1;
    max-width: 1230px;
    gap: 15px;
    margin: 15px;
    padding-bottom: 30px ;
    box-shadow: 0 6px 5px rgba(0,0,0,0.15);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
   
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: #f1f2ff;
    gap: 30px;
    margin: 15px, auto;
    padding-bottom: 30px ;
    box-shadow: 0 6px 5px rgba(0,0,0,0.15);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

 .img {
    display: flex;
    justify-content: space-around;
 }

.intro-page-img {
    flex: 1;
    align-items: center;
    width: 600px;
    border-radius: 50%;
}


#logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* LESSON 7: HOVERING FOR LOGO */
#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}