/* task 1 */

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Aleo, sans-serif ;
    line-height: 1.6;
    color: #131313;
    background-color: rgb(255, 255, 255);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* task 2 */
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom:10px ;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}

section {
    align-items: center;
}

header {
    display: flex;
    padding: 20px 40px;
    margin: 0 auto;
    background-color:rgb(69, 69, 154)
}
.title {
    font-size: 45px;
    font-weight: bold;
    gap: 20px;
}


#name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}


#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.intro-img {
    border-radius: 50%;
    width: 40rem;
}

.background-image{
    background-size: cover;
     background-position:center ;
     background-repeat: no-repeat; 
     background-image: url(images/home-page/bergenhelpbanner.png);
}

.mission-bg-img{
    background-size: cover;
   
     background-repeat: no-repeat; 
     background-image: url(images/home-page/our-mission-background.png)
}


.color:hover{
    color: rgb(22, 22, 108);
    transform:translateY(-3px) ;
    transition: color  0.3s ease, transform 0.25s ease;
}
.color:hover h5 { 
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}

.split-bg-blu {
   background: linear-gradient(to bottom, #DDEEF7 0%, #DDEEF7 50%, white 50%, white 100%);
}
.split-bg-pink {
   background: linear-gradient(to bottom, #d9D8B8 0%, #D9D8B8 50%, white 50%, white 100%);
}

.split-bg-light {
   background: linear-gradient(to bottom, #CFE3D9 0%, #CFE3D9 50%, white 50%, white 100%);
}


.video-bg-apply {
  
    object-fit: cover;

}


.header-font {
    font-family:  "Luckiest Guy", sans-serif ;
}